# Dockerfile for building Ansible image for Ubuntu 14.04 (trusty), with as few additional software as possible.
# Modified to include my bugfix branch for ansible
# @see https://launchpad.net/~ansible/+archive/ubuntu/ansible
#
# Version  1.0
#


# pull base image
FROM ubuntu:{{ ubuntu_version }}

MAINTAINER {{ maintainer }}


RUN echo "===> Adding Ansible's PPA..."  && \
    echo "deb http://ppa.launchpad.net/ansible/ansible/ubuntu {{ ubuntu_release  }} main" | tee /etc/apt/sources.list.d/ansible.list           && \
    echo "deb-src http://ppa.launchpad.net/ansible/ansible/ubuntu {{ ubuntu_release  }} main" | tee -a /etc/apt/sources.list.d/ansible.list    && \
    apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 7BB9C367    && \
    DEBIAN_FRONTEND=noninteractive  apt-get update  && \
    \
    \
    echo "===> Allow start of services"  && \
    echo "exit 0" > /usr/sbin/policy-rc.d  && \
    echo "===> Installing Ansible..."  && \
    apt-get install -y sudo ansible  && \
    \
    apt-get install -y --no-install-recommends \
    apt-transport-https software-properties-common && \
    \
    echo "===> Removing Ansible PPA..."  && \
    rm -rf /var/lib/apt/lists/*  /etc/apt/sources.list.d/ansible.list  && \
    \
    \
    echo "===> Adding hosts for convenience..."  && \
    echo '[local]\nlocalhost\n' > /etc/ansible/hosts


COPY ansible-playbook-wrapper /usr/local/bin/

ONBUILD  RUN  DEBIAN_FRONTEND=noninteractive  apt-get update   && \
              echo "===> Updating TLS certificates..."         && \
              apt-get install -y openssl ca-certificates

ONBUILD  WORKDIR  /tmp
ONBUILD  COPY  .  /tmp
ONBUILD  RUN  \
              echo "===> Diagnosis: host information..."  && \
              ansible -c local -m setup all

RUN apt-get update && apt-get install -y python-pip git-core && git clone -b stable-1.9 --recursive https://github.com/mvdbeek/ansible.git && pip install -e ansible/


# default command: display Ansible version
CMD [ "ansible-playbook", "--version" ]
